:root{
    --vermelho: #e50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin: 0 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/* Filme Principal */
.filme-principal{
    font-size: 20px;
    background: url('/img/ozark01.jpg');    
    height: 400px;    
    background-size:cover; 
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;   
}

.filme-principal .container-filme{
    margin-bottom: 40px;
}

.filme-principal .titulo-filme{
    font-size: 40px;
}